.home-page {

  .aboutus{

    height: 550px;
    margin: 20px;
  @media screen and (max-width: 800px) {
    //font-size: 14px; // Adjust as needed for smaller screens
    height:1000px;
    .main-text{
      margin-top: 10px;
      top: 20%;
    }
  }
    
  }
  .iconcards{
    height: 300px;
    margin: 20px;
    @media screen and (max-width: 800px) {
      //font-size: 14px; // Adjust as needed for smaller screens
      height:800px
      
      
    }
  }

  .why-tokyo{
    height:700px;
    //margin-top:20px;
    background: #f70759;
    @media screen and (max-width: 800px) {
      //font-size: 14px; // Adjust as needed for smaller screens
      height:1200px;
      //margin:200px;
      .main-text{
        margin-top: 10px;
        top: 20%;
      }
      
    }
  }
  .whats-new{
    height:350px;
    margin:20px;

    @media screen and (max-width: 800px) {
      //font-size: 14px; // Adjust as needed for smaller screens
      height:800px;
      //margin:200px;
      .text-zone-why {
        //position: relative;
      // left: 50%; // Center horizontally
       top: 30%; // Center vertically
      font-size: 24px;
      margin:200px
      }
    
  }
}
.image-grid-section{
  height:1000px;
  @media screen and (max-width: 800px) {
    //font-size: 14px; // Adjust as needed for smaller screens
    height:500px;
    .image-text{
      font-size:20px;
    }
  
}
  
}
.Thingstodo{
  height:800px;
  margin:20px;
  background: #333333;

  @media screen and (max-width: 800px) {
    //font-size: 14px; // Adjust as needed for smaller screens
    height:400px;
    .card-text{
      font-size:10px;
    }
    h1{
      font-size:10px;
    }
  
}
}



    position: relative;
    background-color:#f7f3f3;
    //overflow: auto;

    .background-container {
      position: relative;
      background: url('../../assets/images/background10.png');
      //background-color: red;
      background-repeat: no-repeat;
      //background-size: cover; /* Adjust as needed */
      background-size: 100% 90vh;
      top: 40px;
      width: 100%; /* Ensure the container spans the full width */
      height: 90vh; /* Set the height of the container */
    

      .text-zone {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); /* Updated to center both horizontally and vertically */
        width: 40%;
        max-height: 90%;
        text-align: center;
      }

    .learn-more-link {
      position: absolute;
      bottom: 20px; // Adjust as needed
      left: 50%;
      transform: translateX(-50%);
    }
    
    .learn-more-image {
      width: 60px; // Adjust the width as needed
      height: auto; // Maintain the aspect ratio
      display: block;
      margin: 0 auto; // Center the image horizontally within the link
    }
    
  
    h1 {
      color: #ffffff;
      font-size: 100px;
      line-height: 90px;
      margin: 0;
      font-family: 'Coolvetica';
      font-weight: 400;
      text-shadow: 
        -2px -2px 0 #000, /* Top-left shadow */
        2px -2px 0 #000,  /* Top-right shadow */
        -2px 2px 0 #000,  /* Bottom-left shadow */
        2px 2px 0 #000;   /* Bottom-right shadow */
      
      @media screen and (max-width: 768px) {
        font-size: 30px; // Adjust as needed for smaller screens
        line-height: 60px;
      }
  
      @media screen and (min-width: 769px) and (max-width: 1100px) {
        font-size: 48px; // Adjust as needed for medium-sized screens
      }
  
      @media screen and (max-width: 1101px) {
        font-size: 56px; // Adjust as needed for larger screens
      }
     
    }

    h2 {
        color: #ffffff;
        margin-top: 20px;
        font-weight: 400;
        font-size: 14px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;
        text-shadow:
          -2px -2px 0 #000, /* Top-left shadow */
          2px -2px 0 #000,  /* Top-right shadow */
          -2px 2px 0 #000,  /* Bottom-left shadow */
          2px 2px 0 #000;   /* Bottom-right shadow */

        @media screen and (max-width: 768px) {
          font-size: 14px; // Adjust as needed for smaller screens
          text-shadow: none;
          color: black;
        }
    
        @media screen and (min-width: 769px) and (max-width: 1200px) {
          font-size: 18px; // Adjust as needed for medium-sized screens
        }
    
        @media screen and (min-width: 1201px) {
          font-size: 22px; // Adjust as needed for larger screens
        }

        
      }
    
    .flat-button {
      color: #000000;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 4px;
      font-family: sans-serif;
      text-decoration: none;
      padding: 10px 18px;
      border: 1px solid #000000;
      margin-top: 25px;
      float: left;
      animation: fadeInAnimation 1s 1.8s backwards;
      white-space: nowrap;
      background: #ffffff;
  
      &:hover {
        background: #ffd700;
        color: #333;
      }


       @media screen and (max-width: 800px) {
      font-size: 12px; // Adjust as needed for smaller screens
      background-size: 100% 160vh;
      #about {
        height: 1000px; // Adjust the height for the about section
      }
      
    }

    @media screen and (min-width: 769px) and (max-width: 1200px) {
      font-size: 16px; // Adjust as needed for medium-sized screens
      
    }

    @media screen and (min-width: 1201px) {
      font-size: 18px; // Adjust as needed for larger screens
    }
    }

    @media screen and (max-width: 768px) {
      background-size: 100% 500px; // Adjust as needed for smaller screens
      top: 0px;
    }
  
    // @media screen and (min-width: 769px) and (max-width: 1200px) {
    //   background-size: 100% 400px; // Adjust as needed for medium-sized screens
    // }
  
    // @media screen and (min-width: 1201px) {
    //   background-size: 100% 600px; // Adjust as needed for larger screens
    // }
  }

  .main-text {
    position: relative;
    left: 50%; // Center horizontally
    top: 40%; // Center vertically
    transform: translate(-50%, -50%); // Center both horizontally and vertically
    width: 60%; // Adjust as needed
    max-height: 90%;
    justify-content: center;
    max-width: 800px;
    text-align: center;
    font-size: 24px;
    margin-top:80px;
    height:400px;
  }


  .second-background {
    //background: url('../../assets/images/secondBackground.jpg');
    //background-repeat: no-repeat;
    //background-size: cover;
    //background-position: center;
    //height: 50vh; // Set the height as needed for the second background

    // Additional styles for the second background...

    .flat-button {
      display: block; /* Make the button a block-level element */
      margin: 0 auto; /* Center the button horizontally */
      padding: 10px 18px;
      border: 1px solid #000000;
      background: #ffffff;
      color: #000000;
      font-size: 18px;
      text-align: center;
      font-weight: 400;
      letter-spacing: 4px;
      font-family: sans-serif;
      text-decoration: none;
      white-space: nowrap;
  
      &:hover {
        background: #ffd700;
        color: #333;
      }
    }
    .text-zone-why {
      position: relative;
    // left: 50%; // Center horizontally
    // top: 50%; // Center vertically
    text-align:center;
    font-size: 24px;
    margin-top:20px;

    h2 {
      position: relative;
      color: #000000;
      font-size: 40px;
      line-height: 30px;
      text-align: center;
      margin: 0 auto; /* Center the element horizontally */
      width: fit-content; /* Adjust the width based on content */
    }
  }
      


    .text-zone2 {
     justify-content: center;
     left: 50%;
      top: 50%;
      text-align: center;
      color: #ffffff;
      font-size: 30px;
      text-shadow:
          -2px -2px 0 #000, /* Top-left shadow */
          2px -2px 0 #000,  /* Top-right shadow */
          -2px 2px 0 #000,  /* Bottom-left shadow */
          2px 2px 0 #000;   /* Bottom-right shadow */

    }
    h1 {
      color: #ffffff;
      font-size: 70px;
      line-height: 70px;
      //margin: 100px;
      font-family: 'Coolvetica';
      font-weight: 400;
      text-shadow:
          -2px -2px 0 #000, /* Top-left shadow */
          2px -2px 0 #000,  /* Top-right shadow */
          -2px 2px 0 #000,  /* Bottom-left shadow */
          2px 2px 0 #000;   /* Bottom-right shadow */
    
    }
  
    h2 {
      color: #ffffff;
      max-width: 400px;
      font-size: 20px;
      line-height: 30px;
      margin: 100px;
      font-family: 'Coolvetica';
      font-weight: 200;

    }

  }

  .carousel-container {
    position: absolute;
    // bottom: 5%; // Adjust as needed
    background-color: #333333;
    //margin-top:100px;
    left: 50%;
    transform: translateX(-50%);
    width: 85%; // Adjust as needed
    
  }
  .slick-prev, .slick-next {
    font-size: 0px; /* Adjust font size as needed */
    color: #000000; /* Text color */
    background-color: rgba(0, 0, 0, 0.5); /* Background color */
    width: 40px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
    line-height: 60px; /* Match height for centering */
    text-align: center;
    cursor: pointer;
  }
  
  // .slick-prev::before, .slick-next::before {
  //   content: '\2039'; /* Unicode character for left-pointing arrow */
  // }
  
  // .slick-next::before {
  //   content: '\203A'; /* Unicode character for right-pointing arrow */
  // }
  
  .slick-prev:hover, .slick-next:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Background color on hover */
  }

  .slick-prev::before {
    background-image: url('../../assets/images/right-arrow.png');
  }
  
  .slick-next::before {
    background-image: url('../../assets/images/left-arrow.png');
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 0 auto; /* Center the grid horizontally */
    max-width: 1200px; /* Set a maximum width if needed */
  }
  
  .image-grid img {
    max-width: 500px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Adjust as needed (cover, contain, etc.) */
  }
  
  // .image-container {
  //   position: relative;
  // }
  .image-container {
    position: relative;
    overflow: hidden; /* Ensure the overflow is hidden for the zoom effect */
  }
  
  .image-container img {
    transition: transform 0.3s; /* Apply a smooth transition on the transform property */
  }
  
  .image-container:hover img {
    transform: scale(1.2); /* Increase the scale on hover (adjust as needed) */
  }
  
  
  .image-text {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: white; /* Adjust text color as needed */
    text-align: center;
    padding: 10px;
    opacity: 1;
    transition: opacity 0.3s;
    font-size:40px;
  }
  
  .image-container:hover .image-text {
    opacity: 0;
  }

  .image-grid-section {
    text-align: center;
    margin: 0 auto;
  
    h2 {
      font-family: 'Coolvetica';
      font-weight: 400;
      font-size: 40px;
      margin-top: 20px;
      font-weight: bold;
      font-weight: 400;
      color: #000000; /* Set the text color as needed */
    }
  }


}


.home-page .footer {
  position: absolute;
  margin-top: 600px;
  left: 0;
  width: 100%;
  background-color: #f70759; 
  color: #fff;
  text-align: center;
  padding: 20px; /* Increased padding for better spacing */
  height: 500px
}

.footer-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px; /* Adjust as needed for spacing between rows */
  h3{
    font-family: 'Coolvetica';
      font-size: 30px;
      color:white;
      font-weight:10;

  }
  p{
    color:white;
  }
}

.footer-column {
  flex: 1;
  padding: 0 10px; /* Adjust as needed for spacing between columns */
}



.cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  margin-top: 5px;
  font-size: 20px;
  font-weight: 400;
  font-weight: bold;
}

.card {
  flex: 0 0 calc(25% - 20px); /* Four cards in each row, considering margin between cards */
  text-align: center;
  margin: 10px; /* Adjust margin as needed */
  background-color: white;
  position: relative;
  transition: background-color 0.3s, color 0.3s; /* Add smooth transition effect */

  &:hover {
    background-color: black; /* Change background color on hover */
    color: white; /* Change text color on hover */
  }

  img {
    width: 80px; /* Adjust as needed */
    height: 80px; /* Adjust as needed */
    margin-bottom: 10px;
  }
}


@media screen and (max-width: 600px) {
  .card {
    flex: 0 0 calc(50% - 20px); /* Two cards in each row for smaller screens */
  }

  .card img {
    width: 60px; /* Adjust as needed for smaller screens */
    height: 60px; /* Adjust as needed for smaller screens */
  }
}

h1 {
  color: #ffffff;
  font-size: 70px;
  line-height: 70px;
  text-align:center;
  //margin: 100px;
  font-family: 'Coolvetica';
  font-weight: 400;
  

}
/* Adjust the styles based on your design requirements */

.o-footer-3 {
  display: flex;
  //justify-content: space-around;
  //align-items: center;
  padding: 10px; /* Adjust padding as needed */
  background-color: #f70759; /* Set the background color */
  color:white;
}

.m-footer-block {
  text-align: center;
  margin-bottom: 20px; /* Adjust margin as needed */
}

.a-title-footer--big {
  font-size: 20px; /* Adjust font size as needed */
  font-weight: bold;
  margin-bottom: 10px; /* Adjust margin as needed */
}

.m-ekomi {
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-ekomi-l {
  margin-right: 10px; /* Adjust margin as needed */
}

.m-ekomi-rating-wrapper {
  //display: flex;
  flex-direction: column;
  align-items: center;
}

.m-ekomi-rating-value {
  font-size: 24px; /* Adjust font size as needed */
}

.m-ekomi-rating {
  // /display: flex;
  margin-top: 5px; /* Adjust margin as needed */
}

.m-ekomi-rating-empty,
.m-ekomi-rating-selected {
  font-size: 16px; /* Adjust font size as needed */
}

.m-ekomi-text {
  //margin-top: 10px; /* Adjust margin as needed */
  margin-left:40px;
}

.m-footer-app {
  border-top: 2px solid #ccc; /* Add border between blocks */
  margin-bottom: 10px;
}

.m-app-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.m-app-links a {
  margin: 0 10px; /* Adjust margin as needed */
}

.m-footer-email__container {
  /* Add styles for email container if needed */
}

.custom-footer {
  /* Add your custom styles for the footer container */
}

.footer-inner {
  /* Add your custom styles for the inner footer container */
  display: flex;
  flex-wrap: wrap;
  color:white;
}

.footer-block {
  /* Add your custom styles for each footer block */
  flex: 1 1 100%;
}

.row {
  /* Add your custom styles for the row container */
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

.row li {
  /* Add your custom styles for each list item */
  margin-right: 10px; /* Adjust the margin as needed */
  margin-bottom: 10px; /* Adjust the margin as needed */
}

.footer-social-container {
  /* Add your custom styles for the social container */
  flex: 1 1 100%;
  background-color: #a90139;
  text-align: right;
}

.footer-social {
  /* Add your custom styles for the social icons container */
  display: flex;
  justify-content: flex-start;
  //align-items: center;
  //align-items: right;
  margin-right: 20px;
}

.footer-social ul {
  /* Add your custom styles for the social icons list */
  list-style: none;
  padding: 0;
  display: flex;
  //margin: right;
  margin-left: auto;
}

.secure-pay ul {
  /* Add your custom styles for the social icons list */
  list-style: none;
  padding: 0;
  display: flex;
  margin: right;
}

.footer-social li {
  /* Add your custom styles for each social icon */
  margin-right: 10px; /* Adjust the margin as needed */
}

.secure-pay li{
  margin-right: 10px;
}

.secure-pay {
  margin-left: 40px; /* Adjust the margin as needed */
  margin-bottom: 10px; /* Adjust the margin as needed */
  align-content: center;
}

.secure-pay h2 {
  /* Add your custom styles for the payment methods heading */
  font-size: 20px;
  color: #ffffff; /* Adjust the color as needed */
  //margin-top: 10px;
  margin-right:20px;
}
.link{
  margin-right: 20px;
  left: 10%;
  padding:10px;
}

