.nav-bar {
    background: #ffffff;
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .logo {
      padding: 8px 0;
  
      img {
        margin: 30px;
        width: 48px;
        height: auto;
      }
    }
  
    nav {
      display: flex;
      height: 100%;
  
      a {
        font-size: 22px;
        display: flex;
        align-items: center;
        text-decoration: none;
        margin: 0 15px;
        position: relative;
        color: #000000;
        font-weight: bold;
  
        i {
          transition: all 0.3s ease-out;
        }
  
        &:hover {
          color: #555555;
  
          &:after {
            opacity: 1;
            transform: scaleX(1);
          }
        }
  
        &:after {
          content: '';
          font-size: 9px;
          letter-spacing: 2px;
          position: absolute;
          bottom: 0;
          display: block;
          width: 100%;
          text-align: center;
          opacity: 0;
          transition: all 0.3s ease-out;
          background-color: #ff0000; // Red color for the line
          height: 2px; // Adjust the height of the line as needed
          transform-origin: 0 50%;
          transform: scaleX(0); // Initial state: hidden line
          transition: transform 0.3s ease-out;
        }
  
        // &:first-child {
        //   &:after {
        //     content: 'HOME';
        //   }
        // }
      }
    }
  
    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
  
      li {
        margin-right: 15px;
        position: relative;
      
        .dropdown-content {
          display: none; // initially hide the dropdown
          position: absolute;
          top: 100%;
          left: 90%;
          background-color: #ffffff;
          border: 1px solid #dddddd;
          padding: 10px;
      
          &:hover {
            display: block; // show the dropdown on hover
          }
        }
      
        a {
          color: #4d4d4e;
          font-size: 15px;
          line-height: 16px;
          padding: 7px 0;
          position: relative;
      
          &:hover {
            &:after {
              opacity: 1;
              transform: scaleX(1);
            }
      
            + .dropdown-content {
              display: block; // show the dropdown when the parent li is hovered
            }
          }
      
          &:after {
            content: '';
            background-color: #ff0000;
            height: 2px;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            transform-origin: 0 50%;
            transform: scaleX(0);
            transition: transform 0.3s ease-out;
          }
      
          .icon {
            // ... (previous styles)
      
            &:after {
              content: '';
              background-color: #ff0000;
              height: 2px;
              width: 100%;
              position: absolute;
              bottom: 0;
              left: 0;
              transform-origin: 0 50%;
              transform: scaleX(0);
              transition: transform 0.3s ease-out;
            }
      
            &:hover {
              &:after {
                opacity: 1;
                transform: scaleX(1);
              }
            }
          }
        }
      }
    }
  }
  .hamburger-icon, .close-icon {
    display: none;
  }
  
  
  @media screen and (max-width: 1200px) {
    .nav-bar { 
      background: transparent;
      position: initial;
      height: auto;
      min-height: auto;
  
       ul, nav {
        display: none;
       }
  
       nav {
        width: 80%; /* Adjust the width as needed */
        top: 0;
        left: 20%;
        background: #ffffff;
        height: 20%;
        margin: 0;
        z-index: 2;
        position: fixed;
        border: 3px solid #000; /* Add border style here */
        border-radius: 5px; 
  
        &.mobile-show {
          display: block;
        }
  
        a {
          display: flex;
          justify-content: center;
          align-items: center;
        }
  
        a:after {
          opacity: 1;
          position: initial;
          width: auto;
          margin-left: 10PX;
        }
  
        a svg {
          opacity: 1 !important;
        }
       }
  
       .hamburger-icon,
       .close-icon {
          position: absolute;
          top: 15px;
          right: 15px;
          display: block;
       }
    }
  }
  